configparser==3.3.0.post2
coverage==4.0.3
dropbox==4.0
flake8==2.5.1
mccabe==0.3.1
pep8==1.7.0
PyBuilder==0.11.5
pyflakes==1.0.0
requests==2.9.1
six==1.10.0
tblib==1.2.0
unittest-xml-reporting==1.14.0
urllib3==1.14
wheel==0.26.0
